
body {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.container {
    display: flex;
    margin: 0 20px;
}
.diff-dashboard {
    /* Initially hide this dashboard */
    display: none;
}
.controls {
    display: flex;
    flex-direction: column;
}

.controls .new-plot-options {
    display: flex;
    flex-wrap: wrap;
}

.controls .option-group {
    max-width: 150px;
    margin: 0 50px 10px 0;
}

.controls .options-title {
    font-size: 1.1rem;
    font-weight: 700;
}

.controls .label {
    font-size: 1rem;
}

.controls button {
    height: 2rem;
    border-radius: 0.2rem;
    margin: 10px 0 10px;
}

.plot-legend {
    display: flex;
    margin: 10px 10px 10px 40px;
}
.legend-item {
    display: flex;
    margin-right: 30px;
    font-size: 0.8rem;
}
.legend-color {
    border-style: 1px;
    margin: 0 5px;
    height: 20px;
    width: 20px;
}